@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: theme('colors.background.light');
    --header: theme('colors.header.light');
    --primary: theme('colors.primary.light');
    --text: theme('colors.text.light');
    --body: theme('colors.body.light');
  }

  :root.dark {
    --background: theme('colors.background.dark');
    --header: theme('colors.header.dark');
    --primary: theme('colors.primary.dark');
    --text: theme('colors.text.dark');
    --body: theme('colors.body.dark');
  }

  body {
    @apply bg-background text-body font-sans transition-colors duration-200;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-text;
  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}
